
2022/challenge-02-word-buckets/node_modules/
2022/challenge-04-connect-four/node_modules
2022/challenge-05-islands-in-fstream/node_modules
2022/.DS_Store
2022/challenge-02-word-buckets/.DS_Store
2022/challenge-08-pin/node_modules
2022/challenge-09-bullseye/node_modules
2022/challenge-08-pin/.DS_Store
2022/challenge-05-islands-in-fstream/.DS_Store
2022/challenge-10-soroban/node_modules
2022/challenge-10-soroban/.DS_Store
2022/challenge-11-sudoku/Sudoku/bin
2022/challenge-11-sudoku/Sudoku/bin-int
2022/challenge-11-sudoku/Sudoku/.vs/
2022/challenge-11-sudoku/Sudoku/packages/
2022/challenge-12-chess/node_modules
2022/challenge-12-chess/.DS_Store
2022/challenge-12-chess/public/assets/.DS_Store
2022/challenge-12-chess/public/.DS_Store
2022/challenge-13-minesweeper/node_modules
2022/challenge-13-minesweeper/public/.DS_Store
.DS_Store

# Created by https://www.toptal.com/developers/gitignore/api/java,gradle
# Edit at https://www.toptal.com/developers/gitignore?templates=java,gradle

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### Gradle ###
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

# Eclipse Gradle plugin generated files
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath

### Gradle Patch ###
# Java heap dump
*.hprof

# End of https://www.toptal.com/developers/gitignore/api/java,gradle